:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: rgb(4, 4, 47);
  --accent-color: #ff0070;
  --header__clr-menu: rgba(255, 0, 112, 1);
  --text-color: rgba(0, 0, 40, 1);
  --focus-color: rgba(219, 0, 255, 1);
  --contain-color: rgba(255, 0, 112, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --rec-text-color: rgba(255, 0, 112, 1);
  --decorated-zone-color: #ff0070;
  --header__menu-border: rgba(255, 0, 112, 1);
  --header__menu-hover: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  .theme-dark {
    --scrollbar-track-color: #000000;
    --scrollbar-thumb-color: #535252;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }
}

@media (prefers-color-scheme: light) {
  .theme-dark {
    --scrollbar-track-color: #ffffff;
    --scrollbar-thumb-color: #cccccc;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }
}

.theme-dark::-webkit-scrollbar {
  width: 15px;
}

.theme-dark::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.theme-dark::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
}
