.header {
  min-height: max(100vh, 668px);
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.header__contain {
  display: grid;
}

.header__rec-text {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  justify-self: end;
  color: var(--rec-text-color);
  padding-right: 33px;
  padding-bottom: 39px;
}

.header__rec-text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--rec-text-color);
  top: 23%;
  right: 10px;
  transform: translateY(-50%);
  box-shadow: 0 0 6px 3px var(--rec-text-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.header__theme-menu {
  display: grid;
  align-items: center;
  justify-self: end;
  font-size: 18px;
}

.header__theme-menu-list {
  display: grid;
  align-items: center;
  grid-column: 1;
  gap: 11px;
  justify-items: center;
}

.header__theme-menu-button {
  background-color: inherit;
  color: var(--header__clr-menu);
  border: none;
  width: 70px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--header__menu-border);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header__menu-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--header__menu-border);
}

.page {
background-image: var(--page-bg-image);
  
  /* ИСПРАВЛЕНИЕ: Картинка должна центрироваться по экрану, а не по всему сайту */
  background-position: center top; /* или просто center */
  background-repeat: no-repeat;
  
  /* КРИТИЧНО: Картинка подстраивается под размеры видимого окна */
  background-size: cover; 
  
  /* ГЛАВНЫЙ СЕКРЕТ: Картинка приклеивается к экрану. 
     Она застынет на месте, и в хедере сразу появится нужное изображение! */
  background-attachment: fixed;
  background-color: var(--page-bg-color);
}

.header__focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--focus-color);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-top: 65px;
}

.header__contain-text {
  max-width: 350px;
  width: 100%;
  background-color: var(--contain-color);
  margin-top: 55px;
  color: var(--text-color);
  margin-bottom: 31px;
}

.header__contain-text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  font-weight: bold;
}


.main__title {
  max-width: 355px;
  padding-top: 40px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--header__clr-menu);
  padding-left: 10px;
  padding-bottom: 18px;
}

.main__elements {
  background-color: var(--contain-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}

.main__text {
  max-width: 355px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-text-color);
  margin: 0 auto;
  padding-bottom: 20px;
}

.main__text-concentration {
  padding-top: 9px;
}

.main__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__text-link:hover {
  text-decoration: underline;
}

.main__text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.main__text-padding {
  padding-bottom: 50px;
}

.main__title-concentration {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--header__clr-menu);
  padding-left: 10px;
  padding-bottom: 20px;
}

.main__elements-margin {
  margin-bottom: 20px;
}

.title__decor {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.gallery__contain {
  display: grid;
  grid-template-columns: minmax(355px, 1fr);
  gap: 10px;
  padding: 10px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.img__padding {
  padding-bottom: 20px;
}

.footer {
  min-height: max(100vh, 668px);
  display: grid;
  place-items: center;
  padding: 10px;
}

.footer__focus {
  font-size:  clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--focus-color);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: max(100vh, 1024px);
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
  }

  .header__contain {
    gap: 146px;
  }

  .header__focus {
    margin-left: -20px;
    color: var(--focus-color);
    font-weight: 700;
    line-height: 83%;
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-top: 173px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__contain-text {
    margin-right: 3px;
    display: grid;
    margin-top: 162px;
    margin-bottom: 183px;
    justify-self: end;
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .main {
    padding: 0px 20px 0 20px;
  }

  .content__section {
    display: grid;
    align-items: start;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .content-top {
    padding-top: 60px;
  }

  .main__title {
    padding-top: 0;
    padding-left: 0;
  }

  .main__text {
    padding-bottom: 0;
    grid-column: 2;
    max-width: 100%;
    margin: 0;
  }

  .main__elements {
    grid-column: 2;
    margin-top: 10px;
    width: 100%;
    margin: 0;
  }

  .card {
    grid-column: 2;
  }

  .main__concentration-factors {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .main__text-concentration {
    padding-top: 10px;
  }

  .main__title-concentration {
    margin-bottom: 20px;
    max-width: 236px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .main__title-margin {
    margin-bottom: 0;
  }

  .card__elements {
    grid-column: 2;
  }

  .main__elements-margin {
    margin-bottom: 20px;
  }

  .title__decor {
    margin-top: 20px;
  }

  .main__text-padding {
    margin-bottom: 80px;
  }

  .gallery__contain {
    display: grid;
    grid-template-columns: repeat(5, 3fr) 229px;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    box-sizing: border-box;
    min-height: 780px;
    padding: 0;
  }

  .gallery__item {
    box-sizing: border-box;
    margin: 0;
  }

  .gallery img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-row: 1;
    grid-column: span 5;
  }

  .gallery__item:nth-child(2) {
    grid-column: 6;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: span 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-row: span 1;
    grid-column: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 3;
  }

  .img__padding {
    padding-bottom: 0;
  }

  .gallery__title {
    margin-bottom: 20px;
  }

  .footer {
    min-height: max(100vh, 1024px);
    margin-top: 60px;
    padding: 20px;
  }
  
    .footer__focus {
    font-size:  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: max(100vh, 768px);
    grid-template-rows: auto 1fr auto;
  }

  .header__theme-menu-list {
    line-height: 18px;
    font-weight: 400;
    font-size: 18px;
    display: grid;
    margin-left: 40px;
    gap: 10px;
    grid-auto-flow: column;
  }

  .header__theme-menu {
    margin: 0 auto;
  }

  .header__contain {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 0 auto;
    gap: 0px;
  }

  .header__focus {
margin-top: 150px;
  }

  .header__contain-text {
    margin-top: 114px;
    margin-bottom: 134px;
    max-width: 491px;
  }

  .main__concentration-factors {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 315px;
  }

  .content__section {
    grid-template-columns: 315px 1fr;
  }

  .main__title-concentration {
    margin-bottom: 20px;
    max-width: 315px;
  }

  .gallery__contain {
    display: grid;
    grid-template-columns: repeat(5, 3fr) 314px;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    box-sizing: border-box;
    min-height: 1024px;
    padding: 0;
  }

  .footer {
    min-height: max(100vh, 768px);
    padding: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track-color);
}

/* Стандартное свойство для Firefox тоже тут */
:root {
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}
